*
!config/*
config/AppliedEnergistics2/*
!config/AppliedEnergistics2/AppliedEnergistics2.cfg
config/brandon3055/contributors.json
config/chiselsandbits.cfg
config/chiselsandbits_clipboard.cfg
config/codechicken/*
config/jei/worldSettings.cfg
config/MouseTweaks.cfg
config/ProjectE/*
config/journeymap_ModInfo.cfg
config/splash.properties
!resources/*
!scripts/*
!.gitignore
!manifest.json
!modlist.html
!*.md